#place {

    display: grid;
    grid-template-columns: auto auto;
    width: 480px;
    background-color: white;
    padding: 10px 20px;

}

.item{

    position: relative;

}

.detailButton{

    position: absolute;
    right: 5px;
    bottom: 5px;

}

button{
    color: black;
    text-decoration: none;
    border: none;
    background-color: white;

}

button:hover{
    color:limegreen;
}

button:active {
    color: red;
}